@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500&family=Playfair+Display:ital,wght@0,400;0,700;1,400;1,500;1,600&family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:ital,wght@0,400;0,500;0,700;1,500&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)),
    url(../NORZAGARAY-SIMPLE-LANDING-PAGE/img/maramo-river-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 100px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 32px;
  color: #fff;
  font-weight: 700;
  text-decoration: none;
}

.navbar a {
  position: relative;
  font-size: 18px;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  margin-left: 40px;
}

navbar a::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 0;
  height: 2px;
  background: #fff;
  transition: 0.3s;
}

.navbar a:hover::before {
  width: 100%;
}

.content h1 {
  font-family: "font-family: 'Playfair Display', serif;";
  padding-top: 150px;
  font-size: 90px;
}

.content h2 {
  font-family: "Roboto", sans-serif;
  font-size: 50px;
}

.content p {
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  justify-content: center;
  padding-right: 550px;
  padding-top: 7px;
}

.content button {
  position: absolute;
  height: 40px;
  margin: 10px 100px;
  padding-left: 32px;
  padding-right: 32px;
  width: 150px;
  border: none;
  border: 2px solid #fff;
  border-radius: 50px;
  text-decoration: none;
  letter-spacing: 0.1em;
  background: transparent;
  color: #fff;
  font-size: 17px;
  cursor: pointer;
}

.content button:hover {
  background-color: rgb(27, 184, 176);
  color: black;
  border: none;
}

.content button:active {
  color: #fff;
}

.content h1,
h2,
p {
  color: #fff;
  position: relative;
  padding-left: 100px;
}
